body {
  /* background-color: #150f15; */
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 288px;
}

.logo span {
  font-size: 75px;
  max-width: 50%;
}

.logo img {
  height: 40px;
  padding-right: 15px;
  margin: 0;
}

.social {
  width: 290px;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

a img {
  height: 30px;
  padding: 15px;
}

.social a:last-child img {
  padding-right: 0px;
}
